[submodule "classes/system"]
	path = classes/system
	url = http://gerrit.mcp.mirantis.com/salt-models/reclass-system
[submodule "classes/cluster/mcp-offline/infra/mirror"]
	path = classes/cluster/mcp-offline/infra/mirror
	url = http://gerrit.mcp.mirantis.com/mcp/mcp-local-repo-model
